* {
    box-sizing: border-box;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
}



#app-title {
    background-color: ;
}

body {
  background-color: seashell;
  color:  dimgray;
}

.navbar {
    background-color: dimgray;

}

.app-container {
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    color: dimgray;

}

.hidden {
    display: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
